html,
body {
    height:100%;
	margin: 0;
	text-align: center;
}

#root {
    height:100%;
    background-color:#666;
	padding: 5% 10%;
}

.expense-container {
    padding:20px 30px;
    background-color:#151515;
    border-radius:15px;
    margin:20px 0px;
    text-align:left;
}

.expense-form {
    display:inline-flex;
    padding:10px 20px 20px 20px;
    background-color:#EEE;
    border-radius:inherit;
}

.expense-item-list {
    height:inherit;
}

.expense-item {
	color: #EEE;
	background-color: #333;
	padding: 20px;
	margin: 10px 0 10px 0;
	text-align: left;
	display: flex;
	align-items: center;
	border-radius: 10px;

	.expense-item-title {
		flex-grow: 1;
		width: 100%;

		.expense-item__name {
			font-weight: 500;
			font-size: 25px;
		}

		.expense-item__date {
			color: rgb(195, 195, 195);
		}
	}

	.expense-item-cost {
		.expense-item__amount {
			font-size: 30px;
			font-weight: 700;
		}
	}
}

