html,
body {
	margin: 0;
    height:100%;
}

#root {
    height:100%;
}


.App {
    height:100%;
    background-color:rgb(24, 37, 46);
    display:flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    align-items: center;
}